@import url('https://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    min-width: 1000px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
}


/* header */

.header {
    display: block;
    position: relative;
    /*overflow: hidden;*/
    padding-bottom: 30px;
}

.header * {
    font-family: "Cuprum";
}

.header__nav-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    text-align: right;
    padding: 7px 0;
    clear: both;
}

.header__nav-top__item {
    font-family: "Cuprum";
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 1px 10px;
    margin: 0 5px;
    -webkit-transition: .25s;
    transition: .25s;
}

.header__nav-top__item:hover {
    color: #ff9616;
}

.header__nav-top__item i {
    margin-right: 8px;
}

.header__nav-top__item.region {
    margin-right: auto;
    cursor: pointer;
}

.header__nav-top__item--bordered {
    color: #ff9616;
    border-radius: 5px;
    border: 2px solid #ff9616;
}

.header__logo {
    width: 260px;
    height: 110px;
    display: block;
    position: relative;
    float: left;
    padding-left: 95px;
    background: url('../img/logo.png') 0 50% no-repeat;
    text-decoration: none;
    color: inherit;
}

.header__logo--white p {
    color: #fff;
}

.header__logo--black p {
    color: #fff;
}

.header__logo__title-small {
    font-size: 19px;
    line-height: 16px;
    margin: 0 0 10px;
}

.header__logo__title-orange {
    font-weight: 700;
    color: #ff9616;
    font-size: 62px;
    line-height: 40px;
}

.header__logo__title {
    font-size: 33px;
    line-height: 33px;
}

.header__contacts {
    display: block;
    position: relative;
    float: right;
}

.header__contacts__phone {
    text-align: right;
    font-size: 45px;
    font-weight: 700;
    margin: 7px 0 10px;
}

.header__contacts__phone span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header__contacts__address {
    text-align: right;
    line-height: 0.9em;
    font-size: 20px;
}


/* header */


/* footer */

.footer {
    display: block;
    position: relative;
    width: 100%;
    background: #3b60b5;
    padding: 25px 0 50px;
    color: #fff;
    margin-top: auto;
}

.footer__row {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.footer__row .header__logo * {
    font-family: "Cuprum";
}

.footer__row .header__logo__title-orange {
    color: #ff9616;
}

.footer__col {
    width: 190px;
    display: block;
    position: relative;
    float: left;
}

.footer__col a {
    display: block;
    font-family: "Calibri";
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2em;
}

.footer__col.footer__col--under a {
    text-transform: uppercase;
    text-decoration: underline;
}

.footer__ticket-form {
    width: 100%;
}

.footer__ticket-form__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Cuprum";
}

.footer__ticket-form>input {
    width: 100%;
    font-style: italic;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Calibri";
    background: #fff;
    color: #000;
    border: 0;
    padding: 4px;
    margin-bottom: 10px;
    display: block;
}

.footer__ticket-form>button {
    width: 100%;
    border: 0;
    border-radius: 4px;
    background: #ff9616;
    color: #fff;
    text-align: center;
    font-family: "Cuprum";
    font-size: 18px;
    padding: 5px 4px;
    margin-bottom: 10px;
    display: block;
}

.footer__col__phone {
    font-family: "Cuprum";
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.footer__col__address {
    font-family: "Calibri";
    color: #fff;
    font-size: 18px;
    text-align: right;
}

.footer__col.footer__col--thin {
    width: 170px;
}


/* footer */


/* nav cats */

.nav-categories {
    width: 100%;
    background: #ff9616;
    text-align: center;
    padding: 10px 0;
}

.nav-categories__item {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    font-family: "Cuprum";
    font-size: 24px;
}

.nav-categories span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 60px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}


/* nav cats */


/* services */

.services {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.services__title,
.clients__title,
.how-work__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    font-family: "Cuprum";
}

.services__row {
    display: block;
    position: relative;
    overflow: hidden;
    background: #3b60b5;
    padding: 50px;
}

.services__col {
    width: 33.333333%;
    display: block;
    position: relative;
    float: left;
}

.services__col__icon {
    display: block;
    position: relative;
    margin: 0 auto 10px;
}

.services__col__title {
    font-size: 24px;
    font-weight: 700;
    font-family: "Cuprum";
    text-align: center;
    color: #fff;
}

.services__col__text {
    font-size: 18px;
    text-align: center;
    font-family: "Calibri";
    color: #fff;
    opacity: 0.65;
    line-height: 1.1em;
}


/* services */


/* how work */

.how-work {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.how-work__row {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background: url('../img/how-work.png') 50% 0 no-repeat;
    padding-top: 200px;
}

.how-work__col {
    width: 20%;
    display: block;
    position: relative;
    float: left;
}

.how-work__col.how-work__col--top {
    margin-top: -110px;
}

.how-work__col__title {
    text-align: center;
    font-size: 24px;
    font-family: "Cuprum";
    padding: 0 5px;
}

.how-work__col__text {
    text-align: center;
    font-size: 17px;
    font-family: "Calibri";
    padding: 0 12px;
    color: #4e4e4e;
}


/* how work */


/* clients */

.clients {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 25px;
}


/* clients */


/* sliders */

.bx-wrapper {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
}

.bx-wrapper .bx-controls-direction a {
    width: 22px;
    height: 32px;
}

.bx-wrapper .bx-controls-direction a.bx-prev {
    background: url('../img/arr-left.png');
}

.bx-wrapper .bx-controls-direction a.bx-next {
    background: url('../img/arr-right.png');
}

.bx-wrapper .bx-controls-direction a.bx-next {
    background: url('../img/arr-right.png');
}

.bx-wrapper .bx-pager {
    padding-top: 0;
    bottom: 15px;
    text-align: right;
    padding-right: 14px;
}

.bx-wrapper .bx-pager .bx-pager-item {
    width: 11px;
    height: 11px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 4px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
    background: transparent;
    margin: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}

.slider {
    margin: 25px 0;
}

.slider .back {
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  background: url('../img/plashka.png') no-repeat;
  background-size: 100%;
  max-width: 55%;
}

.slider .back .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  padding: 10px 36px;
  padding-bottom: 0;
  font-family: "Cuprum";
}

.slider .back .text {
  color: #ff9616;
  padding: 0 55px;
  font-family: "Cuprum";
  font-size: 20px;
}

.slider .back .btn {
  display: inline-block;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 18px;
  margin-left: 55px;
  padding: 8px 24px;
  font-size: 22px;
  font-family: "Cuprum";
  background: url('../img/blueBtn.png') no-repeat;
  background-size: 100% 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider .back .btn:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

.slider li img {
    width: 100%;
}

.clients {
    margin: 25px 0 55px;
}

.clients__slider li img {
    margin: 0 auto;
    display: block;
}


/* sliders */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slick-slide img {
    margin: 0 auto;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    display: none !important;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.modal-header .close {
    margin-top: -2px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}

.modal-title {
    font-size: 18px;
}

.region-list {
    padding-left: 0;
    list-style: none;
    width: 100%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    -moz-columns: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    -webkit-columns: 3;
    columns: 3;
}

.region-item {
    margin-bottom: 10px;
}

.region-link {
    color: #428bca;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
    padding: 8px 0;
}

.region-link:hover {
    color: #1c496f;
}

.region-link.active {
    color: #f60;
    font-weight: 600;
}

.services .text {
    color: #434343;
    width: 100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 45px;
    -moz-column-gap: 45px;
    column-gap: 45px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.work-rule {
    margin-bottom: 25px;
}

.work-rule .stages {
    padding-top: 100px;
    background: url(../img/work-rule.png) no-repeat;
    margin-bottom: 10px;
}

.work-rule .stages2 {
    padding-top: 100px;
    background: url(../img/work-rule2.png) no-repeat;
    margin-bottom: 10px;
}

.work-rule .stages3 {
    padding-top: 100px;
    background: url(../img/work-rule3.png) no-repeat;
    margin-bottom: 10px;
}

.work-rule .stages .text {
    width: 115px;
    display: inline-block;
    vertical-align: top;
}

.work-rule .stages .text:nth-child(1) {
    margin-right: 60px;
}

.work-rule .stages .text:nth-child(2) {
    margin-right: 90px;
}

.work-rule .stages .text:nth-child(3) {
    margin-right: 80px;
}

.why-we {
    background: #3b60b5;
    color: #fff;
    padding: 15px 25px;
}

.why-we .title {
    font-family: "Cuprum";
}

.why-we .title span {
    font-family: "Cuprum";
    font-size: 30px;
}

.why-we .itm {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 4%;
    margin-top: 2%;
}

.why-we .itm i {
    padding-left: 18px;
    font-size: 52px;
    padding-bottom: 8px;
}

.why-we .itm .title {
    font-size: 21px;
    margin-bottom: 8px;
}

.why-we .itm li {
    list-style: square;
    font-size: 28px;
    line-height: 14px;
    margin-bottom: 12px;
}

.why-we .itm span {
    vertical-align: top;
    font-size: 16px;
    font-family: "Calibri";
    font-weight: 300;
}

.variation-row {
    margin: 10px 0;
    border-bottom: 2px solid #3b60b5;
}

.variation-row .opt {
    font-family: "Cuprum";
    color: #3b60b5;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    padding: 4px 32px;
    cursor: pointer;
    -webkit-transition: .25s;
    transition: .25s;
    position: relative;
}

.variation-row .opt:hover {
    color: #6a84bf;
}

.variation-row .opt.active {
    background: #3b60b5;
    color: #fff;
}

.tarification-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}

.tarification-row .opt {
    font-family: "Calibri";
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    padding: 4px 32px;
    background: #aeaeae;
    text-align: center;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
}

.tarification-row .opt:hover {
    background: #6a84bf;
}

.tarification-row .opt.active {
    background: #3b60b5;
}

.price-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.price-main .left-side {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
}

.price-main .left-side img {
    width: 100%;
    margin-bottom: 32px;
}

.price-main .left-side .bottom-block {
    background: #3b60b5;
    color: #fff;
    padding: 22px;
}

.bottom-block .total-price {
    border: 1px solid #fff;
    padding: 12px 25px;
    margin-bottom: 12px;
}

.bottom-block .total-price .label {
    min-width: 65%;
    display: inline-block;
    text-align: right;
    font-family: "Calibri";
    font-size: 22px;
    font-weight: 300;
}

.bottom-block .total-price .price {
    display: inline-block;
    font-family: "Calibri";
    font-size: 22px;
    font-weight: 300;
}

.bottom-block .total-price .price b {
    font-size: 28px;
}

.addition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.addition .note {
    margin-top: 20px;
    font-size: 13px !important;
}

.addition>div {
    display: inline-block;
    vertical-align: top;
}

.addition>div:first-child {
    max-width: 60%;
    min-width: 55%;
    margin-right: 10%;
}

.addition>div:first-child p {
    font-family: "Cuprum";
    font-size: 16px;
}

.addition>div:first-child p.middle {
  font-family: 'Calibri';
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.price-main .right-side {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%;
    padding-left: 2%;
}

.right-side .title {
    font-family: "Calibri";
    font-size: 20px;
}

.right-side ul.base,
.right-side ul.supple,
.right-side ul.include {
    padding-left: 22px;
    margin-top: 6px;
    margin-bottom: 18px;
}

.right-side ul.choose,
.right-side ul.params {
    list-style: none;
}

.right-side ul.params input[type="text"] {
    border: 1px solid #ff9616;
    border-radius: 6px;
    width: 48px;
    padding: 4px 8px;
    margin-left: auto;
}

.right-side ul.params li,
.right-side ul.choose li {
    margin-bottom: 8px;
}

.right-side ul.params li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right-side ul.params li span {
    font-weight: 600;
    color: #4e4e4e;
}

.right-side ul.include {
    padding-left: 0;
}

.right-side ul.base li {
    list-style: square;
    font-size: 32px;
    line-height: 14px;
    color: #3b60b5;
    margin-bottom: 4px;
}

.right-side ul.base li span,
.right-side ul.supple li span {
    color: #4e4e4e;
    font-size: 14px;
    vertical-align: middle;
    font-family: "Calibri";
}

.right-side ul.supple li {
    list-style: circle;
    font-size: 32px;
    line-height: 16px;
    margin-bottom: 4px;
}

.right-side ul.include li {
    list-style: none;
    font-family: "Calibri";
    color: #4e4e4e;
    margin-bottom: 12px;
}

span.confident {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 4.5%;
    -webkit-transition: .25s;
    transition: .25s;
}

span.confident:hover {
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
}

.round-check[type="checkbox"] {
    display: none;
}

.round-check[type="checkbox"]:checked+label.round-check::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.round-check {
    padding-left: 22px;
    position: relative;
    cursor: pointer;
}

.round-check::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 50%;
}

.round-check::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 5px;
    width: 6px;
    height: 6px;
    background-color: #f11;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .25s;
    transition: .25s;
}

.right-side select {
    font-family: "Cuprum";
    width: 100%;
    height: 39px;
    padding-left: 10px;
    border: 1px solid #ff9616;
    color: #4e4e4e;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 10px;
    border-radius: 6px;
    background-image: url('../img/arrowDown.png');
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.right-side option {
    font-family: "Cuprum";
}

.right-side h5 {
    font-family: "Cuprum";
    margin-top: 10px;
}

.right-side h4 {
    font-family: "Cuprum";
}

.calculation {
    width: 101px;
    height: 37px;
    border: 1px solid #d0d0d0;
    margin-top: 5px;
    border-radius: 6px;
}

.minus {
    width: 33.33333333%;
    float: left;
    height: 100%;
    font-size: 21pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555f78;
    border-right: 1px solid #d0d0d0;
    cursor: pointer;
}

.number {
    width: 33.33333333%;
    float: left;
    height: 100%;
    font-size: 17pt;
    color: #555f78;
    cursor: default;
    text-align: center;
    border: none;
    background-color: white;
}

.plus {
    width: 33.33333333%;
    float: left;
    height: 100%;
    font-size: 18pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555f78;
    border-left: 1px solid #d0d0d0;
    cursor: pointer;
}

.checkblock {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.checkside {
    width: 50%;
}

.checkside.onlyside {
    width: 100%;
}

.radioParent {
    float: left;
}

.radioReal {
    display: none;
}

.radioImit {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #eaf0ff;
    float: left;
    text-align: center;
    font-size: 13px;
}

.radioImit>i {
    color: white;
    font-size: 13pt;
    padding-top: 4px;
}

.radioImit.active {
    background-color: #fcb04f;
    border: 1px solid #fcb04f;
}

.radioLabel {
    margin-right: 21px;
    float: left;
    margin-left: 8px;
    margin-top: 4px;
}

#WP,
#SP,
#GF {
    margin-top: 10px;
}

.tarif_title_label {
    min-width: 56% !important;
}

.blue_line {
    width: 66%;
    height: 30px;
    background-color: #3b60b5;
    color: white;
    text-align: center;
    font-size: 14pt;
    margin-bottom: 23px;
    margin-top: 16px;
}

.stages3 {
    background-size: 666px !important;
}


/*SCStyles*/

.lkhead {
    width: 100%;
    border-bottom: 5px solid #ff9616;
}

.lkwrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.lkheader {
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.lklogo {
    cursor: pointer;
}

.lklogo>img {}

.lklocation {
    color: #ff9616;
    font-weight: 700;
    margin-left: 10px;
    font-size: 15pt;
}

.lkout {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ff0000;
    font-size: 15pt;
    font-weight: 700;
    cursor: pointer;
}

.lkcontent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*    flex-flow: row wrap;*/
    padding-top: 16px;
}

.lkmenu {
    width: 300px;
}

.lkmenu>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-right: 7px;
}

.lkmenu>ul>li {
    font-family: 'Cuprum', sans-serif;
    width: 100%;
    height: 36px;
    margin-bottom: 7px;
    background-color: #cccccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: 12pt;
    padding-left: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.lkmenu>ul>li.active {
    background-color: #3b60b5;
    color: white;
    text-decoration: none;
}

.lkmenu>ul>li>span {
    margin-top: -20px;
    font-size: 7.5pt;
    text-decoration: none;
}

.lkmenu_result {
    width: 100%;
    background-color: #ededed;
    border: 1px solid #888888;
    padding: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}

.lklisk>h4 {
    color: #3b60b5;
    font-size: 12pt;
    font-weight: 700;
}

.lklisk>h4>span {
    text-decoration: underline;
    color: #3ca361;
    font-weight: 100;
}

.lklisk {
    width: 60%;
}

.lktable {
    width: 100%;
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 12pt;
}

.lkAktTable {
  padding-top: 16px;
  font-size: 12pt;
  color: #3ca361;
}

.lkAktTable .text {
  display: inline-block;
  border-bottom: 1px solid #3ca361;
  margin-bottom: 12px;
}

.lktable tr {
  line-height: 32px;
}

.lktable tr>td:first-child:after {
    content: " —";
}

.lktable.mod tr:first-child>td:first-child:after {
    content: "";
}

.lktable.mod tr:first-child>td:last-child {
    padding-left: 0;
}

.lktable tr>td:last-child {
    padding-left: 5px;
}

.lkpagination {
    width: 100%;
}

.lkpagination>div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.lkpagination h6 {
    color: #3b60b5;
    font-size: 12pt;
}

.lkpagination p {
    color: #009640;
    font-size: 12pt;
    text-decoration: underline;
}

.lkpagination p:after {
    content: " >"
}

.lkpagination>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-overflow: ellipsis;
}

.lkpagination>ul>li {
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.lkpagination>ul>li:last-child {
    padding: 5px;
    cursor: no-drop;
}

.lkpagination>ul>li.active {
    border: 1px solid #888888;
    background-color: white;
    cursor: default;
}

.lk_info {
    width: 40%;
}

.lkmode {
    width: 100%;
    height: 32px;
    color: white;
    text-align: center;
    font-size: 13pt;
    padding-top: 3px;
}

.lkmode.active {
    background-color: #009640;
}

.lkmode.pasives {
    background-color: red;
}

.lkdead_line {
    text-align: center;
    color: #3b60b5;
    font-weight: 700;
    font-size: 14pt;
    padding-top: 14px;
}

.lkdead_line>span {
    color: red;
}

.lksmscheck {
    text-align: center;
    padding-top: 20px;
}

.lksmscheck>input {
    cursor: pointer;
}

.lkaboutlst {
    color: #4d4d4d;
}

.lkabtitle {
    color: #3b60b5;
    font-weight: 700;
}

.first_result {
    display: block;
    width: 100%;
}

.second_result,
.third_result,
.fourth_result,
.fifth_result,
.sixth_result {
    display: none;
    width: 100%;
}

.lkaboutlst .changeBtn {
  display: inline-block;
  padding: 4px 12px;
  margin: 5px 0;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.lkaboutlst .changeBtn:hover {
  border: 1px solid #ff9616;
  color: #ff9616;
}

.lkaboutlst>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lkaboutlst>ul >.lk_option.disable{
    text-decoration: line-through;
}
.lkaboutlst>ul >.lk_option:before{
    content: "+  "
}
.lkaboutlst > p {
    color: #3b60b5;
    font-size: 8pt;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
}

.lkaboutlst>ul >.check input {
  display: none;
}

.lkaboutlst>ul >.check label {
  position: relative;
}

.lkaboutlst>ul >.check label::before {
  content: '';
  width: 10px;
  height: 12px;
  border: 1px solid #4d4d4d;
  display: inline-block;
  margin-right: 8px;
}

.lkaboutlst>ul >.check label::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 8px;
  left: 2px;
  top: 3px;
  background: #3b60b5;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.lkaboutlst>ul >.check input:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.second_result > .lkmenu_result {
    width: 100%;
    text-align: center;
    display: block;
}
.second_result > .lkmenu_result h4 {
    color: #3b60b5;
    font-size: 12pt;
    margin-bottom: 10px;
}
.second_result > .lkmenu_result input {
    background-color: #3b60b5;
    width: 185px;
    height: 36px;
    color: white;
    margin: 0 130px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.equipment_block {
  border: 1px solid #9c9c9c;
  padding: 10px;
  margin-right: 18px;
  margin-bottom: 22px;
}

.equipment_block:last-child {
  margin-bottom: 0;
}

.equipment_block .title {
  color: #3b60b5;
  font-size: 18px;
  font-weight: 600;
  font-family: "Cuprum";
}

.equipment_block .warn {
  color: #f00;
  font-size: 12px;
}

.equipment_block .eq_list {
  padding-left: 16px;
  color: #4d4d4d;
  font-size: 16px;
  margin-top: 12px;
}

.banner {
  width: 100%;
  margin-bottom: 22px;
}

.banner img {
  width: 100%;
}

.contacts {
  margin: 22px 0;
  margin-bottom: 36px;
  color: #434343;
  font-size: 14px;
}

.contacts .title {
  font-weight: bold;
  margin-bottom: 12px;
}

.contacts .title.doc {
  margin-bottom: 32px;
}

.contacts .text {
  margin-bottom: 18px;
}

.documents {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documents .documents__item {
  flex-basis: 22%;
  margin-bottom: 32px;
}

.documents .documents__item img {
  width: 100%;
}

.right-side-tabs {
  margin-bottom: 22px;
}

.right-side-tabs__list {
  list-style: none;
  padding-left: 0;
}

.right-side-tabs__item {
  display: block;
  margin-bottom: 12px;
  padding: 8px 12px;
  font-family: "Calibri";
  background: #aeaeae;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .25s;
  transition: .25s;
  cursor: pointer;
}

.right-side-tabs__item:hover {
  background: #6a84bf;
}
.right-side-tabs__item.active {
  background: #3b60b5;
}

.right-side-options {
  display: none;
}

.right-side-options.current {
  display: block;
}

.right-side-option {
  display: none;
}

.right-side-option.active {
  display: block;
}

.calc-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.category-info {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  background: #ff961f;
  width: 20px;
  height: 20px;
  cursor: default;
}

.category-info:hover .pop {
  display: block;
}

.category-info .pop {
  position: absolute;
  z-index: 2;
  right: -58px;
  top: calc(100% + 12px);
  padding: 5px;
  background: #fff;
  border: 1px solid #555;
  display: none;
  color: #000;
  font-weight: normal;
  width: 250px;
  text-align: left;
}

.lk-btn {
  position: relative;
}

.lk-btn.active .pop {
  display: block;
}

.lk-btn .pop {
  position: absolute;
  right: 0;
  top: 45px;
  border: 1px solid #888888;
  background: #fff;
  z-index: 2;
  padding: 18px 48px 6px;
  text-align: center;
  width: 320px;
  display: none;
}

.lk-btn .pop-title {
  color: #000;
  font-size: 16px;
  margin-bottom: 12px;
}

.lk-btn .pop input[type="text"] {
  border: 1px solid #999;
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: normal;
  font-style: italic;
  width: 100%;
  color: #000;
  font-family: 'Calibri';
}

.lk-btn .pop input[type="submit"] {
  width: 100%;
  color: #fff;
  background: #ff961f;
  border-radius: 4px;
  border: none;
  padding: 4px 12px;
}

.lk-btn .pop-info {
  font-size: 14px;
  font-weight: normal;
  color: #828282;
}
