
@font-face {
  font-family: 'Cuprum';
  src: url('Cuprum-Regular.eot?#iefix') format('embedded-opentype'),  url('Cuprum-Regular.woff') format('woff'), url('Cuprum-Regular.ttf')  format('truetype'), url('Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('Cuprum-Bold.eot?#iefix') format('embedded-opentype'),  url('Cuprum-Bold.woff') format('woff'), url('Cuprum-Bold.ttf')  format('truetype'), url('Cuprum-Bold.svg#Cuprum-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Cuprum-BoldItalic.woff') format('woff'), url('Cuprum-BoldItalic.ttf')  format('truetype'), url('Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url('Cuprum-Italic.eot?#iefix') format('embedded-opentype'),  url('Cuprum-Italic.woff') format('woff'), url('Cuprum-Italic.ttf')  format('truetype'), url('Cuprum-Italic.svg#Cuprum-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
